<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Car Rental System{% endblock title %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'crs/css/home.css' %}">
{% endblock %}

{% block content %}
    <section class="main-content">
        <h2>Explore Our Fleet</h2>
        <p>Choose from a wide selection of cars for your next adventure.</p>
        <a href="#" class="btn">View Cars</a>
    </section>
    <section class="featured-cars">
        <h2>Featured Cars</h2>
        <div class="car">
            <img src="https://www.topgear.com/sites/default/files/2022/07/20.jpg?w=645&h=363" alt="Car 1">
            <h3>Car Model 1</h3>
            <p>Starting at $50/day</p>
        </div>
        <div class="car">
            <img src="https://www.topgear.com/sites/default/files/2022/07/19.jpg?w=645&h=363" alt="Car 2">
            <h3>Car Model 2</h3>
            <p>Starting at $60/day</p>
        </div>
    </section>
{% endblock content %}