<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Success</title>
    <link rel="stylesheet" href="style.css"> <!-- Link your CSS file here -->
</head>
<body>
    <div class="reservation-success">
        <h1>Your Car Reservation Has Been Successful</h1>
        <p>Thank you for choosing our service. We have received your reservation and will process it promptly.</p>
        <a href="{% url 'crs:dashboard' %}">Go Back to Homepage</a>
    </div>
</body>
</html>
