<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'crs/css/base.css' %}">
    <title>{% block title %}{% endblock %} | Car Rental System</title>
    {% block extra_css %}{% endblock %}
</head>
<body>

    <div class="navBar">
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Home</a></li>
                <li><a href="#">Cars</a></li>
                <li><a href="{% url 'reservations' %}">Reservations</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="{% url 'inventory' %}">Inventory</a></li>
            </ul>
        </nav>
    
        <div class="user-info">
            {% if user.is_authenticated %}
                <!-- Display user's name if logged in -->
                <img src="{% static 'path-to-your-user-icon.png' %}" alt="User Icon" class="user-icon">
                <p>Welcome, {{ user.username }}!</p>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <!-- Display "Not logged in" message if not logged in -->
                <p>Not logged in</p>
                <a href="{% url 'login' %}" class="btn">Login</a>
            {% endif %}
        </div>
    </div>



    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Car Rental System</p>
    </footer>
</body>
</html>